# Duplicate this file to config.toml to use it

network_id  = "alphanet1"

[logger]
color_enabled = true
[[logger.outputs]]
name  = "stdout"
level = "info"

[network]
bind_address      = "/ip4/0.0.0.0/tcp/15600"
msg_buffer_size   = 10000
peer_limit        = 8
reconnect_millis  = 60000

[peering]
# hex representation of an Ed25519 keypair
local_keypair = ""
[peering.manual]
limit     = 5
peers     = [ ]

[protocol]
minimum_pow_score = 100
[protocol.coordinator]
public_key_count  = 2
[[protocol.coordinator.public_key_ranges]]
public_key  = "ed3c3f1a319ff4e909cf2771d79fece0ac9bd9fd2ee49ea6c0885c9cb3b1248c"
start       = 0
end         = 0
[[protocol.coordinator.public_key_ranges]]
public_key  = "f6752f5f46a53364e2ee9c4d662d762a81efd51010282a75cd6bd03f28ef349c"
start       = 0
end         = 0
[protocol.workers]
status_interval = 10

[snapshot]
path              = "./snapshots/alphanet/export.bin"
download_urls     = [
  "https://dbfiles.iota.org/alphanet/hornet/export.bin"
]
depth             = 50
interval_synced   = 50
interval_unsynced = 1000
[snapshot.pruning]
enabled = true
delay   = 60480

[database]
path = "./database/alphanet"
